{{! Maintainers - Kevin Corry}}
<div class="component-inner responsiveIframe-inner">
  {{> component this}}
  <div class="component-widget responsiveIframe-widget">
    <div class="responsiveIframe-iframe-holder">
      <iframe scrolling="{{#if _scrolling}}{{_scrolling}}{{else}}no{{/if}}" class="responsiveIframe-iframe" src="{{_source}}"
        allowfullscreen webkitallowfullscreen mozallowfullscreen>
      </iframe>
    </div>
        <div class="responsiveIframe-description">
        {{{a11y_text _description}}}
        </div>
  </div>
</div>
